body {
  margin: 0;
  padding: 0;
}
p,
dl,
ol,
ul,
hr,
.row,
.col {
  margin: 0 !important;
  padding: 0 !important;
}
.container,
.container-fluid {
  padding: 0;
}
.main-container {
  padding: 50px 0;
  background-color: #cb5b3b;
  color: #f0f0f0;
}
.main-container-header {
  padding: 50px 0;
  background-color: #cb5b3b;
  color: #f0f0f0;
  height: 700px;
}
.main-container-white {
  padding: 25px 0;
  background-color: #ffffff;
  color: black;
}
.main-container-solid {
  
  background-color: #ffffff;
  color: black;
  margin-bottom: 50px;
}

.main-header {
  background: #cb5b3b;
}
.header-top {
  background-color: #f7f5e1;
  color: #000;
  height: 40px;
  margin: 0;
  padding: 0;
}
.header-top-inner .contact {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
  height: 40px;
}
.call-us,
.mail {
  display: flex;
  margin-right: 22px;
  align-items: center;
  text-align: center;
}
.icon {
  margin-right: 7px;
}

.header-top-inner .top-social ul {
  display: flex;
  justify-content: end;
  list-style-type: none;
  text-decoration: none;
  align-items: center;
}

.top-social ul li i {
  color: rgb(12, 12, 163);
}
.top-social ul li i:hover {
  color: #4169e1;
}
.fa-brands {
  padding: 0px 15px 0px 0px;
}
.navigation {
  display: flex;
  height: 120px;
}
.navigation .main-menu ul {
  display: flex;
  justify-content: end;
}
.navigation .main-menu ul li {
  list-style: none;
}
.navigation .main-menu ul li a {
  color: #f0f0f0;
  padding: 12px 25px;
  display: block;
  text-decoration: none;
}
.navigation .main-menu ul li a:hover {
  color: #000000;
  background-color: #fffb00;
}
/* ------subMenu------------ */
.navigation .main-menu .sub-menu {
  width: 200px;
  background-color: #000;
  padding: 0;
  position: absolute;
  display: none;
  z-index: 1000;
}
.navigation .main-menu ul li:hover ul.sub-menu {
  display: block;
}
.navigation .main-menu .sub-menu li {
  text-align: left;
}
.navigation .main-menu .sub-menu li a {
  color: #fff;
  padding: 12px 20px;
  border-bottom: 1px solid #ffea20;
}
.sub-menu-pre {
  position: relative;
}
.navigation .main-menu .sub-menu1 {
  width: 200px;
  background-color: #000;
  padding: 0;
  display: none;
  position: absolute;
  left: 200px;
  top: 0;
}
.navigation .main-menu .sub-menu li:hover ul.sub-menu1 {
  display: block;
}
.navigation .main-menu .sub-menu li:hover .sub-menu-1 {
  display: block;
  top: 0;
}

.navigation .main-menu .btn {
  background: #f7f5e1;
  color: black !important;
  border-radius: 25px;
}
.notice-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice-btn .btn {
  background: #f7b41d;
  color: black !important;
  border-radius: 25px;
}
.header-inner{
  position: relative;
}
.get-start1{
  position: absolute;
    top: 513px;
    left: 24%;
}


/* ----------End container header---------- */
.footer {
  background: #cb5b3b;
  color: #fff;
}
.footer-inner {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.footer-social .logo img {
  width: 250px;
}
.footer-social .logo p {
  padding: 10px 20px 0px 0px;
  text-align: justify;
}
.footer-social .top-social ul {
  display: flex;
  justify-content: start;
  list-style-type: none;
  text-decoration: none;
}

.footer-social .top-social ul li a {
  display: flex;
  text-decoration: none;
  justify-content: end;
}

.footer-link ul li a,
.footer-follow ul li a {
  text-decoration: none;
  color: #ffffff;
}
.footer-link ul li a:hover,
.footer-follow ul li a:hover {
  text-decoration: none;
  color: #ffea20;
}

.footer-link ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer-follow ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.footer-link ul li,
.footer-follow ul li {
  padding: 15px 0px;
  width: 48%;
}
.footer-link h3,
.footer-follow h3 {
  color: #ffffff;
}
.footer-subscribe a {
  text-decoration: none;
  color: #ffea20;
}
.footer-subscribe a:hover {
  text-decoration: none;
  color: #ffffff;
}
.footer-bottom {
  height: 160px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ------content header----------- */
.service-category,.service-text{
  margin-top: 40px;
}
.services .service-category ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services .service-category ul li {
  width: 312px;
  border-radius: 25px;
  color: azure;
  text-align: center;
  padding: 18px;
  margin-bottom: 15px;
}
.services .service-category ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
}
.service-btn{
  margin: 20px 0px;
}
.service-category .content {
  display: flex;
}
.service-category .content .text {
  height: 74px;
  text-align: start;
  display: flex;
  align-items: center;
}
.service-category .content .img {
  height: 74px;
  text-align: start;
  display: flex;
  align-items: center;
}
/* -------service content background color----------- */
.temp1 {
  background-image: linear-gradient(-90deg, #bbbbbb, #9070ff);
}
.temp2 {
  background-image: linear-gradient(-90deg, #ff9d1e, #fbbd18);
}
.temp3 {
  background-image: linear-gradient(-90deg, #f427a8, #ff67e9);
}
.temp4 {
  background-image: linear-gradient(-90deg, #fdbd13, #ff9c1d);
}
.temp5 {
  background-image: linear-gradient(-90deg, #13b7fe, #1fa4ff);
}
.temp6 {
  background-image: linear-gradient(-90deg, #4be06c, #4be89f);
}
h1.main-content {
  font-size: 32px;
  color: #210938;
  font-family: 210938;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.paragraph {
  font-size: 20px;
  color: #210938;
  font-weight: 400;
  
}
p.paragraph1 {
  font-size: 16px;
  color: #210938;
  font-weight: 600;
  margin: 20px 0px;
  padding: 5px;
}
.line {
  width: 60px;
  background: #000000;
  height: 5px;
  margin-bottom: 27px;
}
.latest-product-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.product-list {
  flex-wrap: wrap;
}
.demo {
  overflow: hidden;
  padding: 5px;
}
.demo img {
  width: 100%;
  height: 100%;
}
.news .text{
  margin-top: 20px;
  background: #230c3a;
  color: #ffffff;
  display: flex;
  height: 55px;
  text-align: center;
  align-items: center;
}
.news .demo p {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
}
.news-items .date p {
  font-size: 12px;
  font-weight: 300;
  padding: 0;
  margin-left: 10px;
}
.news-items .date i {
  margin-right: 10px;
}
.news-items {
  background: #f9f9f9;
    margin-top: 12px;
    border-radius: 5px;
    border: 1px solid blue;
    padding: 6px 7px;
}
/* review-content */
.reviewer{
  border: 2px solid #A5A5A5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 18px;
    box-shadow: 1px 1px 1px #111;
    border-radius: 5px;  
}
.reviewer img, .owner-picture img{
  margin: 10px 0px;
}
.reviewer .text h6{
 font-size: 13px;
 color: #A5A5A5;
 margin-bottom: 25px;
}
.reviewer .text h4{
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 25px;
}
.review-header h1{
  margin-bottom: 30px;
    background: #230c3a;
    color: #ffffff;
    display: flex;
    height: 70px;
    font-size: 32px;
    justify-content: center;
    align-items: center;
}
.review-img img,.header-img img{
  width: 100%;
  height: 100%;
}
/* ---------mission---- */
.owner-profile{
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #fff;
  margin-bottom: 100px;
}
.owner-profile .text h4{
  font-size: 24px;
  font-weight: 400;
}
.owner-profile .text h6{
  font-size: 14px;
  
}
.owner-profile .text {
  padding: 10px;
}
.mission{
  background: #230C3A;
  color:#fff;
}
.mission-header h1{
    margin: 75px 0px;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
}
.owner{
  margin: 50px 0px;
}
.owner .content p{
  font-size: 20px;
}

/* ------get-start----- */
.get-start{
  background: #CB5B3B;
    border-radius: 25px;
    height: 157px;
    justify-content: space-around;
    align-items: center;
}
.get-start1{
   background: #210938;
    border-radius: 25px;
    height: 360px;
    justify-content: space-around;
    align-items: center;
}


.get-text h1{
  text-transform: uppercase;
  color:#fff;

}
.get-text1 h1{
  text-transform: capitalize;
  color:#fff;
  font-size: 40px;
}
.get-text1 p{
  text-transform: capitalize;
  color:#fff;
  font-size: 24px;
}
.get-text1 h4{
  text-transform: capitalize;
  color:#F7B41D;
  font-size: 64px;

}
.get-text2{
  
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column; 
  flex-wrap: wrap;
  margin: 0px 51px;
}
.get-text2 h1{
  text-transform: capitalize;
  color:#fff;
  font-size: 64px;
  font-weight: 700;
  
}
.get-text2 p{
  text-transform: capitalize;
  color:#fff;
  font-size: 24px;
}
.start-btn{
  
  width: 243px;
    height: 62px;
    justify-content: center;
    border: 1px solid #fff;
    align-items: center;
    background: #F9F9DD;
    border-radius: 25px;
}
.start-btn a{
  text-decoration: none;  
  color: #000;
  font-size: 18px;
  margin-right: 15px;

}
.arrow{
  position: relative;
    left: -282px;
    top: 22px;
}

